.app {
  height: calc(100vh - 125px);
  display: flex;

  .select {
    background: #222;
    max-width: 300px;
    width: 100%;
    min-width: 160px;
    height: auto;
    margin: 5px;
    border-radius: 10px;

    .buildList {

      .card {
        height: 40px;
        background: $gradient1;
        margin: 10px 5px ;
        border-radius: 6px;
        text-align: left;
        padding: 5px;
        transition: 0.3s;
        color:  whitesmoke;
        font-family: Calibri;


        &:hover {
          color:  wheat;
          box-shadow: 5px 0px wheat,-5px 0px wheat

        }
        p{
          transform: translateY(50%); /* tiré de la moitié de sa propre hauteur */
          padding-left: 8px;
        }
      }
    }
  }

  .mainView {
    background: #222;
    height: auto;
    margin: 5px;
    width: 100%;
    min-width: 500px;
    border-radius: 10px;
    color: wheat;
    padding: 20px;
    overflow-y: scroll;

        /* Global */
    &::-webkit-scrollbar {
      width: 8px;
      height: 50px;
    }

    /* Ascenseur */
    &::-webkit-scrollbar-thumb {
      background: rgb(176, 156, 122);
      border-radius: 4px;
      border-top: 1px white solid;
    }

    h1,h2,p{
      font-family: Calibri;
    }

    .card-name-bo{
      background: rgb(128, 128, 128);
      border-radius: 5px;
      padding: 0 5px;
    }

    .toto{
      margin-right: 20px;
    }

    /* espacement */

    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: 0px solid grey;
      font-family: Calibri;
    }

    thead th:nth-child(1) {
      width: 10%;
    }

    thead th:nth-child(2) {
      width: 10%;
    }

    thead th:nth-child(3) {
      width: 30%;
    }

    thead th:nth-child(4) {
      width: 50%;
    }

    th, td {
      padding: 20px;
      border: 1px solid grey;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}
