@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  height: 100vh;
  width: 100vw;
}

header {
  background: radial-gradient(#2C3E50, #000000);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
header .btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #f5deb3;
  margin: 0 5px;
  background: red;
}
header .btn:hover {
  background: whitesmoke;
}
header .search {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #f5deb3;
  background: transparent;
  padding-left: 10px;
  color: #f5deb3;
}
header .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .left #menu {
  background: no-repeat url("../../Imgs/menu.png") center/contain;
  background-size: 80%;
}
header .left #prev {
  background: no-repeat url("../../Imgs/left.png") center/contain;
  background-size: 80%;
}
header .left #next {
  background: no-repeat url("../../Imgs/right.png") center/contain;
  background-size: 80%;
}
header .midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .midle #home {
  background: no-repeat url("../../Imgs/home.png") center/contain;
  background-size: 80%;
}
header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .right #login {
  background: no-repeat url("../../Imgs/user.png") center/contain;
  background-size: 80%;
}

.app {
  height: calc(100vh - 125px);
  display: flex;
}
.app .select {
  background: #222;
  max-width: 300px;
  width: 100%;
  min-width: 160px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}
.app .select .buildList .card {
  height: 40px;
  background: radial-gradient(#2C3E50, #000000);
  margin: 10px 5px;
  border-radius: 6px;
  text-align: left;
  padding: 5px;
  transition: 0.3s;
  color: whitesmoke;
  font-family: Calibri;
}
.app .select .buildList .card:hover {
  color: wheat;
  box-shadow: 5px 0px wheat, -5px 0px wheat;
}
.app .select .buildList .card p {
  transform: translateY(50%); /* tiré de la moitié de sa propre hauteur */
  padding-left: 8px;
}
.app .mainView {
  background: #222;
  height: auto;
  margin: 5px;
  width: 100%;
  min-width: 500px;
  border-radius: 10px;
  color: wheat;
  padding: 20px;
  overflow-y: scroll;
  /* Global */
  /* Ascenseur */
  /* espacement */
}
.app .mainView::-webkit-scrollbar {
  width: 8px;
  height: 50px;
}
.app .mainView::-webkit-scrollbar-thumb {
  background: rgb(176, 156, 122);
  border-radius: 4px;
  border-top: 1px white solid;
}
.app .mainView h1, .app .mainView h2, .app .mainView p {
  font-family: Calibri;
}
.app .mainView .card-name-bo {
  background: rgb(128, 128, 128);
  border-radius: 5px;
  padding: 0 5px;
}
.app .mainView .toto {
  margin-right: 20px;
}
.app .mainView table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0px solid grey;
  font-family: Calibri;
}
.app .mainView thead th:nth-child(1) {
  width: 10%;
}
.app .mainView thead th:nth-child(2) {
  width: 10%;
}
.app .mainView thead th:nth-child(3) {
  width: 30%;
}
.app .mainView thead th:nth-child(4) {
  width: 50%;
}
.app .mainView th, .app .mainView td {
  padding: 20px;
  border: 1px solid grey;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

footer {
  height: 75px;
  width: 100%;
  background: radial-gradient(#2C3E50, #000000);
  position: fixed;
  bottom: 0px;
}/*# sourceMappingURL=index.css.map */